header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding: 4px;
}

button.back{
    /*These lines override the previous styling of buttons*/
   border-image: url("greyButton.png");
   background: url("greyButton.png");
   background-size: cover;
   width:60px;
   height: 30px;
    
   /*These lines position the back button inside the header*/
   position:absolute;
   left:16px;
   top:8px; }
   

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding: 4px;
}