header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding: 4px;
}

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding: 4px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    font-size: 12px;
    padding: 3px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:brown;
    font-size: 18px;
    padding: 4px;
}

#content {
    padding:3px;
}

#WPI{
    /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;}

    #main_nav ul { padding: 0; margin: 0; }

    #main_nav li  {
      list-style-type: none; /* remove bullet points */ 
    }
    
    #main_nav li a {
       display: block;
       text-decoration: none; /* remove underline */
       border-radius: 10px;  /* rounded corners */
       margin: 6px;
       padding: 9px;
       color: #222;
       font-weight: bold;
    
       /* nice gradient shade on the buttons */
       background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    
       border: 1px solid #666; /* dark outline */
    }

    nav li:active {
        background-color: #ccc;
        background-image: none;
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
      }
      
    
      header.secondary{   
        padding-left: 75px;
    }
        
    video {
        /* add your style definitions here */
        border: brown;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 5px;
        padding-left: 100px;
        /* transitions applied to the video element */
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
    
    audio{
        border:cadetblue;
        border-radius: 5px;
        margin-bottom: 4px;
        margin-top: 20 px;
    }
    

    button{
        /*center the button*/
       display: block;
       margin-left: auto;
       margin-right: auto;
        
       /* add your code to set top and bottom margins */
        margin-top: 20px;
        margin-bottom: 20px;
       /*add an image to your button*/
       border-image: url("orangeButton.png");
       background: url("orangeButton.png");
       background-size: cover;
       
       /*set width and height for the button*/
       width: 50px;
       height: 30px;
    }

    

    button.back{
        /*These lines override the previous styling of buttons*/
       border-image: url("greyButton.png");
       background: url("greyButton.png");
       background-size: cover;
       width:60px;
       height: 30px;
        
       /*These lines position the back button inside the header*/
       position:absolute;
       left:16px;
       top:8px; }

       